In [142]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

In [143]:
df = pd.read_csv('Solana.csv')

df

     SNo        Date   Price    Open    High     Low      Vol.  Change %
0      1  2020-06-04   0.589   0.586   0.590   0.561  558950.0      0.55
1      2  2020-06-05   0.661   0.589   0.698   0.575  578560.0     12.27
2      3  2020-06-06   0.625   0.661   0.661   0.609  548270.0     -5.53
3      4  2020-06-07   0.608   0.625   0.626   0.591  426420.0     -2.62
4      5  2020-06-08   0.667   0.608   0.682   0.608  550090.0      9.63
..   ...         ...     ...     ...     ...     ...       ...       ...
440  441  2021-08-20  78.542  72.679  79.886  70.970  171510.0      8.07
441  442  2021-08-21  74.090  78.542  81.730  72.701  175070.0     -5.67
442  443  2021-08-22  73.076  74.090  77.440  71.552  179180.0     -1.37
443  444  2021-08-23  75.544  73.076  76.312  71.785  171960.0      3.38
444  445  2021-08-24  78.038  75.544  79.272  73.656  174720.0      3.30

[445 rows x 8 columns]

### Transfiguring Date

In [144]:
'''df['Date'] = pd.to_datetime(df['Date']) 

df['Month'] = df['Date'].dt.month

df['Year'] = df['Date'].dt.year

df['Day'] = df['Date'].dt.day
'''

"df['Date'] = pd.to_datetime(df['Date']) \n\ndf['Month'] = df['Date'].dt.month\n\ndf['Year'] = df['Date'].dt.year\n\ndf['Day'] = df['Date'].dt.day\n"

In [145]:
'''df.isnull().sum() # checking to see if there are any null / NaN valuesa

df.drop('Date', axis=1)'''

"df.isnull().sum() # checking to see if there are any null / NaN valuesa\n\ndf.drop('Date', axis=1)"

In [146]:
'''x = df

x = x.loc[(x['Month'] == 8) & (x['Year'] == 2021)]


# calculate ATH for a specific month's day
x = x.reset_index()
x = x.drop('index', axis=1)

#x = ['Price', 'Open', 'High', 'Low', 'Change %', 'Vol.', 'Month']
#x = df[x].values'''

"x = df\n\nx = x.loc[(x['Month'] == 8) & (x['Year'] == 2021)]\n\n\n# calculate ATH for a specific month's day\nx = x.reset_index()\nx = x.drop('index', axis=1)\n\n#x = ['Price', 'Open', 'High', 'Low', 'Change %', 'Vol.', 'Month']\n#x = df[x].values"

In [147]:
'''y = x['Day'].values

x = x.drop('Day', axis=1)

x = x.values

Xtrain, Xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=42)'''

"y = x['Day'].values\n\nx = x.drop('Day', axis=1)\n\nx = x.values\n\nXtrain, Xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=42)"

In [148]:
'''model = LinearRegression(fit_intercept=True)

model.fit(Xtrain, ytrain)

'''

'model = LinearRegression(fit_intercept=True)\n\nmodel.fit(Xtrain, ytrain)\n\n'